html {
  direction: rtl;
  -webkit-text-size-adjust: 100%;
}

html,
body,
#root {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  overscroll-behavior-y: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

@media (max-width: 600px) {
  body {
    background: #f6f8fc;
  }
}
